// General Styling
html {
    font-size: 62.5%;
    color: $colourWhite;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

// Typography Styling
h1 {
    font-family: $fontIceberg;
    @include clampFontSize(8 * $baseFontSize);
    font-weight: normal;
    text-transform: uppercase;

    text-align: center;
    @include clampLineHeight(8 * $baseFontSize);
}

h2 {
    font-family: $fontIceberg;
    @include clampFontSize(5.2 * $baseFontSize);
    font-weight: normal;
    text-transform: uppercase;

    margin: 0;
}

h3 {
    font-family: $fontMontserrat;
    @include clampFontSize(3.5 * $baseFontSize);
    font-weight: normal;

    text-align: center;
}

h4 {
    font-family: $fontMontserrat;
    @include clampFontSize(3 * $baseFontSize);
    font-weight: normal;
    text-transform: uppercase;

    text-align: center;
}

.button {
    font-family: $fontIceberg;
    @include clampFontSize(2.5 * $baseFontSize);
    font-weight: normal;
    color: inherit;

    text-align: center;
    @include clampLineHeight(2.9 * $baseFontSize);
    text-transform: uppercase;

    background-color: $colourVivdPurple;
    border: 1px $colourVivdPurple solid;
    padding: 5px 20px;

    &:hover, &:focus {
        background-color: $colourRoyalPurple;
    }
}

p,
a,
input {
    font-family: $fontMontserrat;
    @include clampFontSize(2 * $baseFontSize);
    font-weight: normal;

    @include clampLineHeight(2.9 * $baseFontSize);;
}

a {
    color: inherit;
    text-decoration: none;
}