// Theme Colours
$colourWhite: #FFF;
$colourVivdPurple: #9200FF;
$colourRoyalPurple: #3D0369;
$colourDarkIndigo: #0F0632;
$colourAlmostBlack: #08080D;

// Font Families
$fontIceberg: 'Iceberg', cursive;
$fontMontserrat: 'Montserrat', sans-serif;

// Calculations
$wrapperGap: calc(max(calc((100% - 1080px) / 2), 5%));