// Imports
@import "_setup";
@import "_variables";
@import "_base-styles";
@import "_mixins";

// Navigation
.navMenu {
    text-transform: uppercase;
    max-width: 750px;
    width: 70%;
    padding: 10px 0;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        display: inline-block;
        padding: 10px;
    }
}

// Header Styling
header {
    position: relative;

    background-image: url("../assets/images/image-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Hide navMenu on smallest screen
    .navMenu {
        @include respond(small) {
            display: none;
        }
    }

    .headerTextContainer {
        padding: 10% 0 20% 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            word-spacing: 9999rem;
        }

        h3 {
            margin: 0;
            padding: 10px 20px;
            background-color: $colourVivdPurple;
        }
    }

    .navSocial {
        position: absolute;
        right: 5vw;
        top: 0;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        // Hide .navSocial on smallest screen
        @include respond(small){
            display: none;
        }

        ul {   
            margin: auto 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            img {
                padding: 10px;
                height: 50px;
            }
        }
    }

}

// Main Styling
main {

    // Performing LineUp Section
    .performingLineUp {
        flex-direction: row-reverse;

        .textContainer {
            padding: 25px 2.5% 25px $wrapperGap;
        }

        .imgContainer {
            img {
                object-position: 50% 20%;
            }

            // Add padding to section images on medium screen
            @include respond(medium) {
                padding: 25px $wrapperGap 25px 2.5%;
            }
        }
    }

    // New Experiences Section
    .newExperiences {
        flex-direction: row;

        .textContainer {
            padding: 25px $wrapperGap 25px 2.5%;
        }

        .imgContainer {
            // Add padding on medium screen
            @include respond(medium) {
                padding: 25px 2.5% 25px $wrapperGap;
            }
        }
    }

    .sectionWide {
        display: flex;
        align-items: center;

        // Change first two sections to column on mediumSmall screen
        @include respond(mediumSmall) {
            flex-direction: column;
        }

        background-color: $colourDarkIndigo;

        * {
            flex-basis: 50%;
        }

        .textContainer {
            // Adjust padding on mediumSmall screen
            @include respond(mediumSmall) {
                padding: 50px $wrapperGap;
            }
        }

        .imgContainer {
            @include respond(mediumSmall) {
                padding: 0;
                width: 100%;

                img {
                    object-fit: cover;
                    height: 40vh;
                }
            }
        }
    }

    // Get Your Tickets Section
    .getYourTickets {
        padding: 7.5% 0;
        background-color: $colourAlmostBlack;

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            // Change section layout to column on mediumSmall screen
            @include respond(mediumSmall){
                flex-direction: column;
            }
        }

        .imgContainer {
            min-width: 350px;
            width: 100%;

            // Resize image on mediumSmall screen
            img {
                @include respond(mediumSmall){
                    height: 40vh;
                    object-fit: cover;
                    object-position: bottom;
                }
            }
        }

        .textContainer {
            padding-left: 2.5%;
            // Adjust text padding on mediumSmall screen
            @include respond(mediumSmall) {
                padding: 50px 0 0 0;
            }
        }

    }

    .button {
        // Center buttons on small screen
        @include respond(small){
            display: table;
            margin: auto;
        }
    }

    // Three Icon Section
    .infoIcons {
        padding: 10% 0;
        background-color: $colourRoyalPurple;

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        ul {
            width: 75%;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            // Change icons to column on small screen
            @include respond(small) {
                flex-direction: column;
                gap: 50px;
            }
        }

        li {
            margin-top: 20px;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 100px;
            height: 75px;
        }

        h4 {
            margin: 20px 0;
        }
    }
    
    // The Gram Gallery Section
    .theGram {
        background-color: $colourDarkIndigo;
        padding: 5% 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .galleryContainer {
            margin: 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;

            img {
                flex-basis: calc((100% - 40px) / 3);
            }

            // Remove last gallery image on mediumSmall screen
            .imgContainer:last-child {
                @include respond(mediumSmall) {
                    display: none;
                }
            }
        }
    }

}

// Footer Styling
footer {
    padding: 0 0 0 0;
    background-color: $colourRoyalPurple;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 36px;
    }

    p {
        margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Adjust size of .navMenu on small screen
        .navMenu {
            @include respond(small){
                width: 100%;
            }
        }
    }

    .footerContainer {
        width: 100%;
        padding: 5% 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        // Change .footerContainer to column on mediumSmall screen
        @include respond(mediumSmall){
            flex-direction: column;
        }

        * {
            flex-basis: 50%;
            
            //Fix .footerContainer child sizing on mediumSmall screen
            @include respond(mediumSmall){
                width: 100%;
                text-align: center;
            }
        }
    }

    .formContainer {
            h2 {
                // Adjust text padding on mediumSmall screen
                @include respond(mediumSmall){
                    padding-top: 50px;
                }
            }

            form {
                padding-top: 19px;
        
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                // Change form to column on small screen
                @include respond(small) {
                    flex-direction: column;
                }

                input {
                    padding: 0 10px;
                    flex-grow: 1;
                    text-align: left;

                    // Adjust text input sizing on small screen
                    @include respond(small) {
                        padding: 10px;
                        margin-bottom: 10px;
                        text-align: center;
                    }
                }

                .button {
                    flex-basis: 0%;
                }
            }

    }

    .creationCredits {
        width: 100%;
        background-color: $colourAlmostBlack;
        text-align: center;
    }
}
