// Imports
@import "_setup";
@import "_variables";
@import "_base-styles";
@import "_mixins";

// Navigation
.navMenu {
    text-transform: uppercase;
    max-width: 750px;
    width: 70%;
    padding: 10px 0;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        display: inline-block;
        padding: 10px;
    }
}

// Header Styling
header {
    position: relative;

    background-image: url("../assets/images/image-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerTextContainer {
        padding: 10% 0 20% 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            word-spacing: 9999rem;
        }

        h3 {
            margin: 0;
            padding: 10px 20px;
            background-color: $colourVivdPurple;
        }
    }

    .navSocial {
        position: absolute;
        right: 5vw;
        top: 0;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {   
            margin: auto 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            img {
                padding: 10px;
                height: 50px;
            }
        }
    }


}

// Main Styling
main {

    .sectionWide {
        display: flex;
        align-items: center;

        background-color: $colourDarkIndigo;

        &.performingLineUp {
            flex-direction: row-reverse;
            .textContainer {
                padding: 25px 2.5% 25px calc(max(calc((100% - 1080px) / 2), 5%));
            }
            .imgContainer {
                @include respond(medium) {
                    padding: 25px calc(max(calc((100% - 1080px) / 2), 5%)) 25px 2.5%;
                }
            }
        }

        &.newExperiences {
            flex-direction: row;
            .textContainer {
                padding: 25px calc(max(calc((100% - 1080px) / 2), 5%)) 25px 2.5%;
            }
            .imgContainer {
                padding: 25px 2.5% 25px calc(max(calc((100% - 1080px) / 2), 5%));
            }
        }

        * {
            flex-basis: 50%;
        }
    }

    .getYourTickets {
        padding: 7.5% 0;
        background-color: $colourAlmostBlack;

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .imgContainer {
            min-width: 350px;
        }

        .textContainer {
            padding-left: 2.5%;
        }

    }

    .infoIcons {
        padding: 10% 0;
        background-color: $colourRoyalPurple;

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        ul {
            width: 75%;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 100px;
            height: 75px;
        }

        h4 {
            margin: 20px 0;
        }
    }
    
    .theGram {
        background-color: $colourDarkIndigo;
        padding: 5% 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .galleryContainer {
            margin: 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;

            img {
                flex-basis: calc((100% - 40px) / 3);
            }
        }
    }

}

// Footer Styling
footer {
    padding: 0 0 0 0;
    background-color: $colourRoyalPurple;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
            margin: 0;
        }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerContainer {
        width: 100%;
        padding: 5% 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            flex-basis: 50%;
        }
    }

    form {
        padding-top: 19px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
            padding: 0 10px;
            flex-grow: 1;
        }
        .button {
            flex-basis: 0%;
        }
    }

    



    .creationCredits {
        width: 100%;
        background-color: $colourAlmostBlack;
        text-align: center;
    }
}
